<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Document</title>
</head>
<body>
    <haeder>
        <a href="/">
            <img src="https://t4.ftcdn.net/jpg/01/11/56/95/240_F_111569519_UeLlDhAN9Vj8WYHUMueg7NauZhTwsn0C.jpg"
                 style="width: 140px; height: 140px;"
            >
        </a>
    </haeder>
    <h1 th:text="${book.title}">Book title here</h1>
    <a href="/books">Back to Books</a><br>
    <a href="/">Back to Home</a>
</body>
</html>

