<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<haeder>
    <a href="/">
        <img src="https://t4.ftcdn.net/jpg/01/11/56/95/240_F_111569519_UeLlDhAN9Vj8WYHUMueg7NauZhTwsn0C.jpg"
             style="width: 140px; height: 140px;"
        >
    </a>
</haeder>
    <div style="margin: 30px 0px 0px 30px;">
        <h2>Welcome to the library</h2>
        <h1>Please be quiet</h1>
        <div>
            <p>
                You can order book <a href="/books">HERE</a>
            </p>
        </div>
        <div id="lipsum" style="margin: 25px;   ">
            <h3>About the project:</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum mollis diam eget tincidunt. Phasellus quis tortor eget lacus volutpat interdum. Phasellus a ipsum eget sapien luctus sollicitudin sed id quam. Vivamus tempor quam a felis condimentum commodo. Sed id nunc id quam ultricies ornare. Nullam ac euismod mauris. Suspendisse imperdiet elit sit amet ipsum sodales mattis tristique quis orci. Pellentesque ut tortor non ante cursus consequat sed vel enim. Etiam interdum purus feugiat tortor tempor, in sollicitudin augue rutrum. Etiam at magna turpis. Donec eget nisi suscipit ex porttitor euismod sit amet vel tellus. In eu vestibulum odio, quis laoreet nunc. Nullam nibh dui, lacinia eget efficitur vitae, maximus vitae est.
            </p>
            <p>
                Quisque consectetur nibh nunc, quis aliquam arcu aliquet ac. Morbi faucibus sit amet lacus id hendrerit. Nam gravida euismod dolor, at auctor urna laoreet vel. Donec id diam arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta nisl in sapien placerat, et vehicula arcu fermentum. Aliquam neque ligula, placerat non erat quis, fringilla posuere massa.
            </p>
            <p>
                Nullam non ligula euismod, dictum est vitae, ultricies libero. Nulla dui justo, commodo sit amet erat ut, lacinia molestie diam. Donec aliquam lorem non augue tincidunt, eu porttitor sapien maximus. Phasellus ipsum ante, facilisis quis orci in, imperdiet interdum urna. Pellentesque varius metus nec enim imperdiet, et lobortis magna dictum. Donec sapien magna, pretium id tincidunt et, bibendum ac tortor. Integer quis malesuada dui, quis semper est. Ut sodales elit a nibh fermentum rhoncus. Morbi sollicitudin nisi a massa laoreet, non tincidunt mauris ornare. Praesent ut ex vel massa congue molestie sed vitae massa. Fusce et turpis sem. Nullam nec orci justo. In sollicitudin a augue in tristique.
            </p>
            <p>
                Vestibulum vestibulum pulvinar ipsum vitae laoreet. Maecenas aliquet, velit in finibus iaculis, ligula massa mattis justo, eu porttitor ipsum mi nec eros. Sed ut luctus est, a consequat sem. Sed rhoncus ultrices nibh, at finibus tellus egestas non. Aliquam varius tellus sed magna pellentesque, id suscipit urna viverra. Suspendisse tempor nisi ac purus laoreet commodo. Mauris feugiat risus ex, ac vulputate ligula pretium sit amet.
            </p>
            <p>
                Fusce lacus mi, eleifend eu eros eu, sollicitudin fringilla mi. Proin consectetur tincidunt est. Integer finibus justo id massa egestas ullamcorper. Nulla facilisi. In cursus elementum justo, ut suscipit sem egestas sit amet. Pellentesque vestibulum odio sit amet dui vulputate, eu consectetur ligula cursus. Proin tincidunt tempor ligula. In consectetur quam enim, et iaculis dolor tincidunt bibendum. Sed eros est, mattis eu lacus ut, semper laoreet velit. Sed gravida eleifend massa. Ut at vulputate leo. Quisque elementum tincidunt nulla, ac laoreet tortor blandit nec. Nullam scelerisque, nunc nec malesuada dignissim, ante leo viverra nunc, non facilisis odio ipsum a tortor. Praesent eget augue placerat, malesuada purus ac, ornare lorem. Nam sit amet dolor fermentum, euismod ante quis, scelerisque felis.
            </p>
        </div>
    </div>

</body>
</html>
